# MacOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Py cache
__pycache__/
*.py[cod]
*$py.class

# Venv
venv/

# Ignore the local SQLite database
**/db.sqlite3

# Ignore topic pdf files
*/media/topic_pdfs/*.pdf
*/media/topic_pdfs/


