<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DeepLearn</a>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'content' %}">Content</a>
            <a class="nav-link" href="{% url 'quiz' %}">Quiz</a>
            <a class="nav-link" href="{% url 'practice' %}">Practice</a>
            <a class="nav-link" href="{% url 'grades' %}">Grades</a>
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </div>
    </div>
</nav>