{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DeepLearn</a>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'content' %}">Content</a>
            <a class="nav-link" href="{% url 'practice' %}">Practice</a>
            <a class="nav-link" href="{% url 'grades' %}">Grades</a>
            
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome, {{ user.username }}!
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item btn btn-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% else %}
                <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>